<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.veee-split.mihomo</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/.veee-split/bin/mihomo</string>
		<string>-d</string>
		<string>__HOME__/.veee-split</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__HOME__/.veee-split/logs/mihomo.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/.veee-split/logs/mihomo.log</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
</dict>
</plist>
